<h1><%= @post.title %> For Sale</h1>
<ul>
  <li>Title: <%= @post.title %></li><br>
  <li>Content: <%= @post.content %></li><br>
  <li>Email: <%= @post.email %></li><br>
  <li>$ <%= @post.price %></li>
</ul>






